<header class="bb bw1 b--moon-gray">
  <div class="mw9 center flex flex-column flex-row-m flex-row-l justify-between">
    <a class="mh3 mh4-l link blue hover dim flex mv3 b f5" href="/tachyons-studio/" title="Home">Tachyons Studio</a>
    <nav>
      <ul class="lh-copy list pl0 flex flex-row f6 f5-l f5-l mv3">
        <li>
          <a class="mh3 mh4-l link blue hover dim" href="/tachyons-studio/components">Components</a>
        </li>
        <li>
          <a class="mh3 mh4-l link blue hover dim" href="/tachyons-studio/about">About</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
